
# ignore cache files and ipynb files 
*.ipynb 
__pycache__ 

# ignore proto versions
DCAenv_proto.py
DCAenv_ma_v2.py

# ignore shell scripts
test_proto.sh

# ignore images / videos / etc
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff